$cl-primary: #FF793B;
$cl-primary-blue: #2979FF;

$cl-secondary: #049FD6;


$grey-5: #F2F2F2;
$grey-10: #E6E6E6;
$grey-20: #CCCCCC;
$grey-30: #B3b3b3;
$grey-50: #808080;
$grey-80: #333333;

$success: #3CC13B;

$cl-text: #fff;