/*========================================*/
/*  break point
/*========================================*/
/*========================================*/
/*  media query Mixin
/*========================================*/
.st-blog-main .blog {
  display: flex;
  gap: 128px;
}
@media screen and (max-width: 959px) {
  .st-blog-main .blog-menu {
    display: none;
  }
}
.st-blog-main .blog-line {
  margin: 16px 0;
  width: 100%;
  height: 1px;
  background-color: #E6E6E6;
}
.st-blog-main .blog-cate h4 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 16px;
}
.st-blog-main .blog-cate ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.st-blog-main .blog-hot h4 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 16px;
}
.st-blog-main .blog-hot .hot {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 312px;
}
.st-blog-main .blog-hot .hot-item {
  display: flex;
  gap: 12px;
  align-items: center;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 8px;
}
.st-blog-main .blog-hot .hot-item:last-child {
  border-bottom: none;
}
.st-blog-main .blog-hot .hot-item img {
  width: 80px;
  height: 80px;
}
.st-blog-main .blog-hot .hot-item .hot-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
}
.st-blog-main .blog-hot .hot-item .hot-title {
  font-weight: bold;
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.st-blog-main .blog-hot .hot-item .hot-date {
  display: flex;
  gap: 8px;
  align-items: center;
}
.st-blog-main .blog-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
@media screen and (max-width: 959px) {
  .st-blog-main .blog-content {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .st-blog-main .blog-content {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 559px) {
  .st-blog-main .blog-content {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
@media screen and (max-width: 959px) {
  .st-blog-main .frame-item {
    max-width: unset;
  }
}
.st-blog-main .frame-item-cate {
  left: unset;
  transform: none;
}
@media screen and (max-width: 1199px) {
  .st-blog-main .frame-item-cate {
    max-width: -moz-max-content;
    max-width: max-content;
  }
}
.st-blog-main .frame-item-content {
  text-align: left;
}
.st-blog-main .frame-item-title .author, .st-blog-main .frame-item-title div {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #808080;
}
@media screen and (max-width: 1199px) {
  .st-blog-main .frame-item-desc {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
@media screen and (max-width: 559px) {
  .st-blog-main .frame-item-desc {
    -webkit-line-clamp: 2;
  }
}
.st-blog-main .ct-blog-menu {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all;
  position: absolute;
  top: 0%;
  right: 0;
  z-index: 10;
  background-color: #808080;
  width: 350px;
  height: 100vh;
  padding: 24px;
  color: #fff;
}
.st-blog-main .ct-blog-menu.show {
  visibility: visible;
  opacity: 1;
  transition: 0.3s all;
}
.st-blog-main .ct-blog-menu .icon-close svg {
  cursor: pointer;
}
.st-blog-main .ct-blog-menu .icon-close svg:hover {
  color: #FF793B;
}
.st-blog-main .blog-btn-humberger {
  cursor: pointer;
  margin-bottom: 16px;
  text-align: end;
}
@media print, screen and (min-width: 960px) {
  .st-blog-main .blog-btn-humberger {
    display: none;
  }
}

.ct-input-search {
  max-width: 312px;
  position: relative;
}
.ct-input-search .input-search {
  border: 1px solid #E6E6E6;
  padding: 8px 16px;
  border-radius: 4px;
  width: 100%;
}
.ct-input-search .icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 6px 4px;
  border-left: 1px solid #E6E6E6;
  cursor: pointer;
  color: #808080;
}

.ct-pagination {
  margin-top: 24px;
}
.ct-pagination .pagination-ul {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.ct-pagination .pagination-number {
  display: flex;
  align-items: center;
  padding: 8px;
  font-weight: bold;
  color: #B3b3b3;
  cursor: pointer;
}
.ct-pagination .pagination-number.active {
  color: #049FD6;
}
.ct-pagination .pagination-number.unactive {
  color: #E6E6E6;
  cursor: default;
}
.ct-pagination .pagination-number.unactive:hover {
  color: #E6E6E6;
}
.ct-pagination .pagination-number:hover {
  color: #049FD6;
}/*# sourceMappingURL=blog.css.map */