/*========================================*/
/*  break point
/*========================================*/
/*========================================*/
/*  media query Mixin
/*========================================*/
.st-slider {
  position: relative;
}
.st-slider .road-line {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
}
.st-slider .road-line img {
  width: 100%;
}

#carouselExampleInterval .carousel-inner .carousel-item img.bg {
  height: 50rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 959px) {
  #carouselExampleInterval .carousel-inner .carousel-item img.bg {
    max-height: 30rem;
  }
}
@media screen and (max-width: 559px) {
  #carouselExampleInterval .ct-button-action {
    height: -moz-fit-content;
    height: fit-content;
    top: 380px;
  }
  #carouselExampleInterval .ct-button-action__left {
    left: 40%;
  }
  #carouselExampleInterval .ct-button-action__right {
    right: 40%;
  }
}

.carousel-caption1 {
  position: absolute;
  width: 54rem;
  top: 45%;
  left: 50%;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 16px;
}
@media screen and (max-width: 959px) {
  .carousel-caption1 {
    width: 40rem;
  }
}
@media screen and (max-width: 768px) {
  .carousel-caption1 {
    width: 35rem;
  }
}
@media screen and (max-width: 559px) {
  .carousel-caption1 {
    width: 23rem;
  }
}
.carousel-caption1 h3 {
  font-size: 72px;
  color: #fff;
  font-weight: bold;
  line-height: 1.1;
}
@media screen and (max-width: 959px) {
  .carousel-caption1 h3 {
    font-size: 48px;
  }
}
@media screen and (max-width: 559px) {
  .carousel-caption1 h3 {
    font-size: 28px;
  }
}
.carousel-caption1 h5 {
  margin-top: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.button-action {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 1rem;
}
.button-action .button-primary {
  font-weight: 600;
}

.st-analyst {
  background-image: url(./../images/analyst-bg.png);
  background-repeat: repeat-x;
}
.st-analyst .analyst {
  display: flex;
  flex-wrap: wrap;
  gap: 88px;
}
@media screen and (max-width: 1199px) {
  .st-analyst .analyst {
    gap: unset;
    justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  .st-analyst .analyst {
    gap: 16px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 559px) {
  .st-analyst .analyst {
    gap: 24px;
  }
}
.st-analyst .analyst-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
@media screen and (max-width: 959px) {
  .st-analyst .analyst-item {
    max-width: 200px;
  }
}
.st-analyst .analyst-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.st-analyst .analyst-num {
  font-size: 72px;
  font-weight: 600;
}
@media screen and (max-width: 1199px) {
  .st-analyst .analyst-num {
    font-size: 56px;
  }
}
.st-analyst .analyst-title {
  font-size: 26px;
  font-weight: 600;
}
@media screen and (max-width: 1199px) {
  .st-analyst .analyst-title {
    font-size: 22px;
  }
}
.st-analyst .analyst-line {
  height: 12px;
  border-radius: 8px;
  background-color: #F2F2F2;
  width: 240px;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .st-analyst .analyst-line {
    max-width: 216px;
  }
}
@media screen and (max-width: 959px) {
  .st-analyst .analyst-line {
    max-width: 200px;
  }
}
.st-analyst .analyst-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width-a);
  height: inherit;
  border-radius: 8px;
}
.st-analyst .analyst-line.cl-primary::after {
  background: var(--secondary-100, #FF793B);
  box-shadow: 0px 16px 40px 0px rgba(255, 114, 12, 0.32);
}
.st-analyst .analyst-line.cl-blue::after {
  background: var(--primary-blue-50, #2979FF);
  box-shadow: 0px 16px 40px 0px rgba(12, 36, 255, 0.32);
}
.st-analyst .analyst-line.cl-green::after {
  background: linear-gradient(0deg, #3CC13B 0%, #3CC13B 100%), #FFF;
  box-shadow: 0px 16px 40px 0px rgba(12, 255, 36, 0.32);
}
.st-analyst .analyst-line.cl-dark-blue::after {
  background: linear-gradient(0deg, rgba(41, 121, 255, 0.6) 0%, rgba(41, 121, 255, 0.6) 100%), #000;
  box-shadow: 0px 16px 40px 0px rgba(12, 36, 255, 0.32);
}

.st-contact-us {
  height: 31rem;
  background-image: url("./../images/st-contact-us.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 559px) {
  .st-contact-us {
    height: 24rem;
  }
}
@media screen and (max-width: 1199px) {
  .st-contact-us {
    background-position: bottom;
  }
}
.st-contact-us .contact {
  width: 426px;
}
@media screen and (max-width: 559px) {
  .st-contact-us .contact {
    width: unset;
  }
}
.st-contact-us .contact h3 {
  background: var(--gradient-red-organ, linear-gradient(48deg, #FD3500 0%, #FFB653 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
}
.st-contact-us .contact-desc {
  color: #808080;
  font-size: 20px;
  font-weight: 500;
  margin-top: 16px;
}
.st-contact-us .contact-phone {
  color: #333333;
  font-size: 24px;
  font-weight: 600;
  margin: 6px 0;
}
.st-contact-us .contact-email {
  color: #333333;
}

.st-blog .blog {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 559px) {
  .st-blog .blog {
    flex-direction: column;
    align-items: center;
  }
}
.st-blog .blog-item {
  padding: 40px;
  background-color: #fff;
  width: 392px;
  height: 392px;
  box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.08);
  transition: 0.5s ease-in-out;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  background: var(--bg-img);
}
@media screen and (max-width: 1199px) {
  .st-blog .blog-item {
    padding: 24px;
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 559px) {
  .st-blog .blog-item {
    width: unset;
  }
}
.st-blog .blog-item .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}
.st-blog .blog-item::after {
  border-radius: 8px;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}
.st-blog .blog-item:hover {
  border-radius: 8px;
}
.st-blog .blog-item:hover .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}
.st-blog .blog-item:hover .item-date {
  color: #CCCCCC;
  transition: 0.5s ease-in-out;
}
.st-blog .blog-item:hover .item-title, .st-blog .blog-item:hover .item-action {
  color: #FFF;
  transition: 0.5s ease-in-out;
}
.st-blog .blog-item:hover .item-title a, .st-blog .blog-item:hover .item-action a {
  color: #FFF;
}
.st-blog .blog-item:hover:after {
  opacity: 1;
}
.st-blog .blog-item:hover:before {
  opacity: 1;
}
.st-blog .blog .item-content {
  color: black;
}
.st-blog .blog .item-date {
  font-size: 20px;
  color: #808080;
  font-weight: 500;
  margin-bottom: 8px;
  z-index: 200;
  transition: 0.5s ease-in-out;
}
.st-blog .blog .item-title {
  font-size: 32px;
  color: black;
  font-weight: 500;
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  transition: 0.5s ease-in-out;
}
@media screen and (max-width: 959px) {
  .st-blog .blog .item-title {
    font-size: 24px;
  }
}
.st-blog .blog .item-action {
  transition: 0.5s ease-in-out;
  color: #2979FF;
  font-weight: 600;
}

.carousel-partner .card-item {
  width: 184px;
  height: 96px;
}
.carousel-partner .card-img {
  text-align: center;
}

.ct-carousel-partner {
  /* medium and up screens */
}
.ct-carousel-partner .carousel-inner {
  border-radius: 24px;
  padding: 40px 44px;
  background: #FFF;
  box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 559px) {
  .ct-carousel-partner .carousel-inner {
    padding: 24px;
  }
}
@media screen and (max-width: 559px) {
  .ct-carousel-partner .carousel-inner .carousel-item.active {
    display: flex;
    gap: 24px;
  }
}
.ct-carousel-partner .card-img {
  width: 100%;
  height: 96px;
}
.ct-carousel-partner .card-img img {
  width: 100%;
  height: inherit;
  -o-object-fit: contain;
     object-fit: contain;
}
.ct-carousel-partner .carousel-control-prev-icon {
  background-image: url(./../images/arrow_back.svg);
}
.ct-carousel-partner .carousel-control-next-icon {
  background-image: url(./../images/arrow_back.svg);
  transform: rotate(180deg);
}
@media (min-width: 768px) {
  .ct-carousel-partner .carousel-inner .carousel-item-end.active,
  .ct-carousel-partner .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  .ct-carousel-partner .carousel-inner .carousel-item-start.active,
  .ct-carousel-partner .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}
.ct-carousel-partner .carousel-inner .carousel-item-end,
.ct-carousel-partner .carousel-inner .carousel-item-start {
  transform: translateX(0);
}

.carousel-partner {
  position: relative;
}

.ct-carousel-partner .carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-control-next {
  right: 16px;
}
@media screen and (max-width: 559px) {
  .carousel-control-next {
    right: 0;
  }
}

.carousel-control-prev {
  left: 16px;
}
@media screen and (max-width: 559px) {
  .carousel-control-prev {
    left: 0;
  }
}

.carousel-control-next, .carousel-control-prev {
  width: unset;
}

.st-support {
  background-image: url(./../images/support-bg.jpg);
  background-size: 100%;
  background-repeat: round;
}
@media screen and (max-width: 768px) {
  .st-support {
    background-image: url(./../images/sp-bg-1.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.st-support .support {
  padding-top: 20rem;
  padding-bottom: 6rem;
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media screen and (max-width: 1199px) {
  .st-support .support {
    padding-top: 13rem;
    height: 600px;
  }
}
@media screen and (max-width: 768px) {
  .st-support .support {
    padding-top: unset;
    padding-bottom: unset;
    display: block;
    height: unset;
  }
}
@media screen and (max-width: 768px) {
  .st-support .support-text {
    margin-bottom: 24px;
  }
}
.st-support .support h3 {
  background: var(--gradient-red-organ, linear-gradient(48deg, #FD3500 0%, #FFB653 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
}
@media screen and (max-width: 559px) {
  .st-support .support h3 {
    font-size: 34px;
  }
}
.st-support .support-subtitle {
  margin-top: 1rem;
  font-size: 20px;
  color: #FFF;
  width: 80%;
}
@media screen and (max-width: 559px) {
  .st-support .support-subtitle {
    font-size: 16px;
    width: 100%;
  }
}
.st-support .support .form-line {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
@media screen and (max-width: 559px) {
  .st-support .support .form-line {
    flex-direction: column;
  }
}
.st-support .support .form-item {
  width: 100%;
}
.st-support .support .form-item .form-title {
  color: #FFF;
  margin-bottom: 8px;
}
.st-support .support .form-item .form-title span {
  color: #FD3500;
}
.st-support .support .form-item input, .st-support .support .form-item textarea {
  width: 341px;
  height: 40px;
  padding: 16px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #FFF;
}
@media screen and (max-width: 1199px) {
  .st-support .support .form-item input, .st-support .support .form-item textarea {
    width: 300px;
  }
}
@media screen and (max-width: 959px) {
  .st-support .support .form-item input, .st-support .support .form-item textarea {
    width: 230px;
  }
}
@media screen and (max-width: 559px) {
  .st-support .support .form-item input, .st-support .support .form-item textarea {
    width: 100%;
  }
}
.st-support .support .form-item textarea {
  width: 100%;
  height: auto;
}/*# sourceMappingURL=index.css.map */