/*========================================*/
/*  break point
/*========================================*/
/*========================================*/
/*  media query Mixin
/*========================================*/
.p-product .product-list {
  justify-content: space-between;
  gap: unset;
  row-gap: 24px;
}
@media screen and (max-width: 959px) {
  .p-product .product-list {
    row-gap: 16px;
  }
}
.p-product .product {
  width: 32%;
}
@media screen and (max-width: 768px) {
  .p-product .product {
    width: 49%;
    max-width: -moz-max-content;
    max-width: max-content;
  }
}
@media screen and (max-width: 559px) {
  .p-product .product {
    width: 100%;
    max-width: -moz-max-content;
    max-width: max-content;
  }
}
@media screen and (max-width: 559px) {
  .p-product .product-img img {
    width: 100%;
  }
}
.p-product .product-content {
  padding: 16px;
}

.st-why .why-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 24px;
}
@media screen and (max-width: 559px) {
  .st-why .why-list {
    row-gap: 16px;
  }
}
.st-why .why-item {
  max-width: 288px;
  width: 25%;
  border: 1px solid #E6E6E6;
  padding: 24px;
}
@media screen and (max-width: 1199px) {
  .st-why .why-item {
    width: 49%;
    max-width: unset;
  }
}
@media screen and (max-width: 768px) {
  .st-why .why-item {
    width: 48%;
    max-width: unset;
  }
}
@media screen and (max-width: 559px) {
  .st-why .why-item {
    width: 100%;
  }
}
.st-why .why-title {
  font-size: 26px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 8px;
}
.st-why .why-desc {
  color: #808080;
  font-weight: 500;
  line-height: 1.5;
}

.comment-slider {
  position: relative;
}
.comment-slider .swiper {
  position: unset;
}
.comment-slider .swiper-button-prev, .comment-slider .swiper-button-next {
  top: unset;
  bottom: -70px;
}
.comment-slider .swiper-button-prev::after, .comment-slider .swiper-button-next::after {
  font-size: 16px;
  padding: 14px;
  width: 29px;
  background-color: #2979FF;
  border-radius: 8px;
  color: #fff;
  height: 25px;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  display: flex;
}
.comment-slider .swiper-button-prev {
  left: 47%;
}
@media screen and (max-width: 1199px) {
  .comment-slider .swiper-button-prev {
    left: 45%;
  }
}
@media screen and (max-width: 768px) {
  .comment-slider .swiper-button-prev {
    left: 40%;
  }
}
.comment-slider .swiper-button-next {
  right: 47%;
}
@media screen and (max-width: 1199px) {
  .comment-slider .swiper-button-next {
    right: 45%;
  }
}
@media screen and (max-width: 768px) {
  .comment-slider .swiper-button-next {
    right: 40%;
  }
}
.comment-slider .mySwiper .swiper {
  position: unset;
}
.comment-slider .comment-box {
  text-align: center;
  padding: 32px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
}
.comment-slider .comment-box .comment-img {
  margin-bottom: 12px;
}
.comment-slider .comment-box .comment-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.comment-slider .comment-box .comment-desc {
  line-height: 1.5;
  margin-bottom: 24px;
}
.comment-slider .comment-box .comment-name {
  font-weight: bold;
}/*# sourceMappingURL=product.css.map */