@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap");
/*========================================*/
/*  break point
/*========================================*/
/*========================================*/
/*  media query Mixin
/*========================================*/
.st-about .about-content {
  line-height: 1.5;
}

.st-history .history-item {
  padding: 20px;
  border: 1px solid #049FD6;
  border-radius: 8px;
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .st-history .history-item {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}
.st-history .history-item h2 {
  font-size: 48px;
  font-weight: bold;
  color: #049FD6;
  flex-basis: auto;
}
@media screen and (max-width: 559px) {
  .st-history .history-item h2 {
    font-size: 34px;
  }
}
.st-history .history-item .text {
  font-size: 18px;
  flex: 1;
}
@media screen and (max-width: 559px) {
  .st-history .history-item .text {
    font-size: 16px;
  }
}

.st-vision .vision {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 559px) {
  .st-vision .vision {
    flex-direction: column;
    align-items: center;
  }
}
.st-vision .vision-item {
  max-width: 392px;
  padding: 24px;
  border: 1px solid #E6E6E6;
}
.st-vision .vision-img {
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 16px;
}
.st-vision .vision-title {
  font-size: 26px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 8px;
}
.st-vision .vision-desc {
  color: #808080;
  font-weight: 500;
  line-height: 1.5;
}

.st-value .value {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .st-value .value {
    flex-direction: column;
  }
}
.st-value .value-content {
  max-width: 600px;
}
@media screen and (max-width: 768px) {
  .st-value .value-content {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .st-value .value .ct-title {
    text-align: center;
  }
}
.st-value .value-subtitle {
  line-height: 1.5;
  color: #808080;
  margin-top: 40px;
}
.st-value .value-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .st-value .value-list {
    justify-content: center;
  }
}
.st-value .value-item {
  max-width: 288px;
  border: 1px solid #E6E6E6;
  padding: 24px;
}
@media screen and (max-width: 559px) {
  .st-value .value-item {
    max-width: 392px;
  }
}
.st-value .value-title {
  font-size: 26px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 8px;
}
.st-value .value-desc {
  color: #808080;
  font-weight: 500;
  line-height: 1.5;
}

.st-personnel .personnel {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 40px;
}
@media screen and (max-width: 768px) {
  .st-personnel .personnel {
    justify-content: center;
  }
}
.st-personnel .personnel-img {
  max-width: 288px;
}
.st-personnel .personnel-name {
  color: #333333;
  font-weight: bold;
  margin-top: 16px;
}
.st-personnel .personnel-pos {
  color: #049FD6;
  margin-top: 4px;
}

/*========================================*/
/*  break point
/*========================================*/
/*========================================*/
/*  media query Mixin
/*========================================*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
code,
em,
img,
small,
strong,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
embed,
figure,
figcaption,
footer,
header,
nav,
section,
summary,
time,
audio,
video,
input,
button,
textarea,
select {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

body {
  font-family: "Montserrat Light", sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(28, 58, 148)));
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

/* *****************************
 * Container
 **************************** */
.l-container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1254px;
}
@media screen and (max-width: 1199px) {
  .l-container {
    padding: 0 30px;
  }
}

.body-container {
  width: 100%;
  overflow-x: hidden !important;
}

.section {
  padding: 40px 0;
}

.np-b {
  padding-bottom: 0;
}

.ct-p-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (max-width: 559px) {
  .ct-p-80 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.ct-pb-80 {
  padding-bottom: 80px;
}

.cl-primary {
  color: #FF793B;
}

.button-primary {
  padding: 8px 16px;
  background-color: #FF793B;
  color: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
  display: inline-flex;
  transition: 0.3s all;
  font-weight: 600;
  cursor: pointer;
}
.button-primary.outline {
  background-color: transparent;
  border: 1px solid #FF793B;
}
.button-primary.link:hover {
  color: #fff;
}
.button-primary:hover {
  background-color: #049FD6;
  border: 1px solid #049FD6;
  transition: 0.3s all;
}
.button-primary:hover svg {
  margin-left: 8px;
  transition: 0.3s all;
}
.button-primary svg {
  margin-left: 4px;
  transition: 0.3s all;
}

.ct-link-primary {
  color: #2979FF;
}
.ct-link-primary svg {
  transition: 0.3s all;
}
.ct-link-primary a {
  font-weight: 500;
}
.ct-link-primary a:hover + svg {
  margin-left: 6px;
  transition: 0.3s all;
}

.ct-link:hover {
  color: #049FD6;
}

.ct-pb-0 {
  padding-bottom: 0;
}

.tag {
  border-radius: 4px;
  background: linear-gradient(48deg, #9500FF 0%, #00B9FF 100%);
  padding: 4px 16px;
  color: #fff;
}

.title {
  font-size: 42px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 30px;
}
@media screen and (max-width: 559px) {
  .title {
    font-size: 30px;
  }
}

.subtitle {
  color: #808080;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 8px;
}

.header {
  background-color: #2e4054;
}
.header .nav-menu {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  position: relative;
  /* Style cho dropdown container */
  /* Style cho dropdown toggle button (main) */
  /* Style cho dropdown menu */
  /* Hiển thị dropdown menu khi hover trên dropdown button (main) */
  /* Style cho mỗi mục trong dropdown menu */
}
@media screen and (max-width: 559px) {
  .header .nav-menu {
    padding: 8px 0;
  }
}
.header .nav-menu .btn-humberger {
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 959px) {
  .header .nav-menu .btn-humberger {
    display: block;
  }
}
.header .nav-menu .btn-humberger:hover svg {
  color: #FF793B;
}
.header .nav-menu .icon-close {
  display: none;
}
.header .nav-menu .overlay-bg {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.header .nav-menu .overlay-bg.show {
  display: unset;
  visibility: visible;
  opacity: 1;
  transition: 0.3s ease;
}
@media screen and (max-width: 959px) {
  .header .nav-menu #navMenuList {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all;
    position: absolute;
    top: 0;
    right: -30px;
    width: 350px;
    height: 100vh;
    background-color: #808080;
    z-index: 10;
    padding: 24px;
  }
  .header .nav-menu #navMenuList.show {
    visibility: visible;
    opacity: 1;
    transition: 0.3s all;
  }
  .header .nav-menu #navMenuList .icon-close {
    display: block;
    text-align: end;
    transition: 0.3s all;
  }
  .header .nav-menu #navMenuList .icon-close svg {
    cursor: pointer;
  }
  .header .nav-menu #navMenuList .icon-close svg:hover {
    color: #FF793B;
    transition: 0.3s all;
  }
  .header .nav-menu .dropdown-menu {
    right: unset;
    left: 0;
    top: 18px;
    width: 60%;
  }
}
.header .nav-menu .menu-list {
  list-style: none;
  display: flex;
  gap: 30px;
}
.header .nav-menu .menu-list a {
  font-size: 18px;
}
.header .nav-menu .menu-list a:hover {
  color: #049fd6;
}
.header .nav-menu .tdropdown-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #fff;
  list-style: none;
  padding: 8px;
  margin: 0;
  z-index: 1;
  border-radius: 4px;
  transition: 0.3s all;
}
.header .nav-menu .tdropdown-menu li {
  padding: 10px;
}
.header .nav-menu .tdropdown-menu a {
  color: black;
  transition: color 0.3s;
}
.header .nav-menu .tdropdown-menu a:hover {
  color: #ff5733;
}
.header .nav-menu .tdropdown .menu-items__link {
  display: flex;
}
.header .nav-menu .tdropdown:hover .tdropdown-menu {
  visibility: visible;
  opacity: 1;
  transition: 0.3s all;
}
.header .nav-menu .tdropdown:hover .dropdown-icon {
  rotate: 90deg;
  transition: 0.3s all;
}
.header .nav-menu .dropdown-icon {
  width: 24px;
  transition: 0.3s all;
}
.header .nav-menu .language-dropdown {
  position: relative;
  display: inline-block;
}
.header .nav-menu .language-dropdown img {
  width: 24px;
}
.header .nav-menu .dropdown-toggle {
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav-menu .dropdown-toggle .language-icon-main {
  font-size: 12px;
  margin-left: 5px;
}
.header .nav-menu .dropdown-toggle .dropdown-icon-main {
  font-size: 12px;
  margin-left: 5px;
}
.header .nav-menu .dropdown-toggle::after {
  color: #fff;
}
.header .nav-menu .dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  list-style: none;
  padding: 8px;
  margin: 0;
  display: none;
  background-color: #fff;
  border-radius: 4px;
}
.header .nav-menu .language-dropdown:hover .dropdown-menu {
  display: block;
}
.header .nav-menu .dropdown-menu li {
  padding: 8px 10px;
}
.header .nav-menu .dropdown-menu li a {
  display: flex;
  align-items: center;
}
.header .nav-menu .dropdown-menu li .language-icon-show {
  margin-right: 5px;
}
.header .nav-menu .dropdown-menu li .language-text-show {
  font-size: 14px;
}

.footer {
  padding-top: 80px;
  background-color: #0F1342;
  color: #ccc;
}
@media screen and (max-width: 559px) {
  .footer {
    padding: 40px 0 0 0;
  }
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}
@media screen and (max-width: 959px) {
  .footer-content {
    gap: 16px;
  }
}
@media screen and (max-width: 768px) {
  .footer-content {
    display: block;
  }
}
@media screen and (max-width: 559px) {
  .footer-content {
    padding-bottom: 40px;
  }
}
.footer-content h4 {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .footer-content h4 {
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: bold;
  }
}
.footer-info {
  width: 25%;
}
@media screen and (max-width: 768px) {
  .footer-info {
    width: 100%;
  }
}
.footer-info__desc {
  color: #ccc;
  margin-top: 18px;
  line-height: 1.5;
}
.footer-item {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}
.footer-social__list {
  display: flex;
  gap: 16px;
}
.footer-social__list svg {
  color: #FF793B;
  transition: 0.3s all;
}
.footer-social__list svg:hover {
  color: #049FD6;
  transition: 0.3s all;
}

.copy-right {
  padding: 24px 0;
  border-top: 1px solid #678FB5;
}

#backtotop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
@media screen and (max-width: 559px) {
  #backtotop {
    width: 38px;
    height: 38px;
  }
}
#backtotop:hover {
  cursor: pointer;
}
#backtotop.show {
  opacity: 1;
  visibility: visible;
}

.hasLink {
  position: relative;
}
.hasLink .picture-avatar {
  display: block;
  aspect-ratio: 388/296;
  line-height: 0;
}
.hasLink img {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  -o-object-fit: cover;
     object-fit: cover;
}
.hasLink > .link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.st-banner {
  background-image: url(./../images/about/banner-about.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1365px) {
  .st-banner {
    height: 300px;
  }
}
@media screen and (max-width: 559px) {
  .st-banner {
    height: 168px;
  }
}
.st-banner h1 {
  font-size: 48px;
  color: #fff;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 559px) {
  .st-banner h1 {
    font-size: 34px;
  }
}
.st-banner h1::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 10%;
  height: 4px;
  background-color: #049FD6;
}

.st-product .product-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .st-product .product-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 559px) {
  .st-product .product-list {
    justify-content: center;
  }
}

.frame-item {
  max-width: 392px;
  border: 1px solid #E6E6E6;
  transition: all 0.2s ease;
}
@media screen and (max-width: 1199px) {
  .frame-item {
    max-width: 380px;
  }
}
@media screen and (max-width: 768px) {
  .frame-item {
    max-width: 300px;
  }
}
@media screen and (max-width: 559px) {
  .frame-item {
    max-width: 380px;
  }
}
.frame-item-img {
  width: initial;
}
.frame-item-img img {
  max-width: 100%;
}
.frame-item:hover {
  background: var(--grey-0);
  box-sizing: border-box;
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07), 0 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  transform: scale(1.01);
}
.frame-item-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 16px;
  text-align: center;
  border-top: none;
}
.frame-item-cate {
  position: absolute;
  left: 50%;
  top: -18px;
  transform: translate(-50%);
  font-size: 13px;
  font-weight: 600;
}
@media screen and (max-width: 1199px) {
  .frame-item-cate {
    width: -moz-max-content;
    width: max-content;
    max-width: 150px;
  }
}
.frame-item-title h3 {
  font-size: 26px;
  font-weight: bold;
}
@media screen and (max-width: 1199px) {
  .frame-item-title h3 {
    font-size: 24px;
  }
}
.frame-item-title .author {
  font-size: 16px;
}
.frame-item-title .author span {
  color: #2979FF;
  font-weight: bold;
}
.frame-item-desc {
  color: #808080;
  font-weight: 400;
  line-height: 1.5;
}
.frame-item-action {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  color: #2979FF;
  font-weight: 400;
}

.abouts {
  display: flex;
  gap: 40px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .abouts {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 1199px) {
  .abouts-img {
    flex-basis: auto;
    max-width: 400px;
  }
  .abouts-img img {
    max-width: inherit;
  }
}
@media screen and (max-width: 768px) {
  .abouts-img {
    max-width: 280px;
  }
}
@media screen and (max-width: 959px) {
  .abouts-content {
    flex: 1;
  }
}
.abouts-subtitle {
  color: #808080;
  font-size: 20px;
  text-transform: uppercase;
}
.abouts-title {
  color: #333333;
  font-size: 42px;
  font-weight: bold;
}
@media screen and (max-width: 959px) {
  .abouts-title {
    font-size: 32px;
  }
}
.abouts-desc {
  line-height: 1.5;
}
.abouts-button {
  margin-top: 1.5rem;
}

.popup-form {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 500px;
  padding: 24px;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: 0.3s all;
}
@media screen and (max-width: 559px) {
  .popup-form {
    width: 350px;
  }
}
@media screen and (max-width: 359px) {
  .popup-form {
    width: 300px;
  }
}
.popup-form.show {
  visibility: visible;
  opacity: 1;
  transition: 0.3s all;
}
.popup-form .icon-close {
  cursor: pointer;
}

.pform {
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
.pform .pform-title {
  font-size: 28px;
  font-weight: 700;
}
.pform .pform-input .input, .pform .pform-input input {
  padding: 8px 16px;
  border: 1px solid #DCDCDC;
  background: #FFF;
  width: 100%;
}
.pform .pform-input-file {
  position: relative;
  z-index: 1;
  padding: 0;
  width: 100%;
  border-radius: 3px;
  font-family: arial, sans-serif;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  font-weight: regular;
}
.pform .pform-input-file input[type=file] {
  padding: 0;
}
.pform .pform-input-file input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
  margin-left: 10px;
  padding: 0;
  height: 36px;
  width: 0;
}
.pform .pform-input-file label {
  position: absolute;
  right: 4px;
  bottom: 4px;
  width: 96px;
  height: 30px;
  line-height: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: white;
  background-color: #049FD6;
  border-radius: 0 3px 3px 0;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pform .pform-input-file button svg {
  width: auto;
  height: 50%;
}
.pform .pform-content {
  height: 60px;
}
.pform .pform-button {
  padding: 8px;
  width: 100%;
  background: #049FD6;
  color: #fff;
}/*# sourceMappingURL=style.css.map */