@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap");
/*========================================*/
/*  break point
/*========================================*/
/*========================================*/
/*  media query Mixin
/*========================================*/
.st-about .about-content {
  line-height: 1.5;
}

.st-history .history-item {
  padding: 20px;
  border: 1px solid #049FD6;
  border-radius: 8px;
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 32px;
}
.st-history .history-item h2 {
  font-size: 48px;
  font-weight: bold;
  color: #049FD6;
  flex-basis: auto;
}
@media print, screen and (min-width: 1366px) {
  .st-history .history-item h2 {
    color: red;
  }
}
.st-history .history-item .text {
  font-size: 18px;
  flex: 1;
}

.st-vision .vision {
  display: flex;
  gap: 24px;
}
.st-vision .vision-item {
  max-width: 392px;
  padding: 24px;
  border: 1px solid #E6E6E6;
}
.st-vision .vision-img {
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 16px;
}
.st-vision .vision-title {
  font-size: 26px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 8px;
}
.st-vision .vision-desc {
  color: #808080;
  font-weight: 500;
  line-height: 1.5;
}

.st-value .value {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.st-value .value-content {
  max-width: 600px;
}
.st-value .value-subtitle {
  line-height: 1.5;
  color: #808080;
  margin-top: 40px;
}
.st-value .value-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.st-value .value-item {
  max-width: 288px;
  border: 1px solid #E6E6E6;
  padding: 24px;
}
.st-value .value-title {
  font-size: 26px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 8px;
}
.st-value .value-desc {
  color: #808080;
  font-weight: 500;
  line-height: 1.5;
}

.st-personnel .personnel {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 40px;
}
.st-personnel .personnel-img {
  max-width: 288px;
}
.st-personnel .personnel-name {
  color: #333333;
  font-weight: bold;
  margin-top: 16px;
}
.st-personnel .personnel-pos {
  color: #049FD6;
  margin-top: 4px;
}

/*========================================*/
/*  break point
/*========================================*/
/*========================================*/
/*  media query Mixin
/*========================================*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
code,
em,
img,
small,
strong,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
embed,
figure,
figcaption,
footer,
header,
nav,
section,
summary,
time,
audio,
video,
input,
button,
textarea,
select {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

body {
  font-family: "Montserrat Light", sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(28, 58, 148)));
}

/* *****************************
 * Container
 **************************** */
.l-container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1254px;
}
@media screen and (max-width: 1199px) {
  .l-container {
    padding: 0 30px;
  }
}

.body-container {
  width: 100%;
  overflow-x: hidden !important;
}

.section {
  padding: 40px 0;
}

.np-b {
  padding-bottom: 0;
}

.cl-primary {
  color: #FF793B;
}

.button-primary {
  padding: 8px 16px;
  background-color: #FF793B;
  color: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
  display: inline-flex;
  transition: 0.3s all;
  font-weight: 600;
}
.button-primary.outline {
  background-color: transparent;
  border: 1px solid #FF793B;
}
.button-primary.link:hover {
  color: #fff;
}
.button-primary:hover {
  background-color: #049FD6;
  border: 1px solid #049FD6;
  transition: 0.3s all;
}
.button-primary:hover svg {
  margin-left: 8px;
  transition: 0.3s all;
}
.button-primary svg {
  margin-left: 4px;
  transition: 0.3s all;
}

.ct-link-primary {
  color: #2979FF;
}
.ct-link-primary svg {
  transition: 0.3s all;
}
.ct-link-primary a {
  font-weight: 500;
}
.ct-link-primary a:hover + svg {
  margin-left: 6px;
  transition: 0.3s all;
}

.ct-link:hover {
  color: #049FD6;
}

.tag {
  border-radius: 4px;
  background: linear-gradient(48deg, #9500FF 0%, #00B9FF 100%);
  padding: 4px 16px;
  color: #fff;
}

.title {
  font-size: 42px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 30px;
}

.subtitle {
  color: #808080;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 8px;
}

#backtotop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
@media screen and (max-width: 559px) {
  #backtotop {
    width: 34px;
    height: 34px;
  }
}
#backtotop:hover {
  cursor: pointer;
}
#backtotop.show {
  opacity: 1;
  visibility: visible;
}

.st-banner {
  background-image: url(./../images/about/banner-about.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1365px) {
  .st-banner {
    height: 300px;
  }
}
.st-banner h3 {
  font-size: 48px;
  color: #fff;
  position: relative;
}
.st-banner h3::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 10%;
  height: 4px;
  background-color: #049FD6;
}/*# sourceMappingURL=style.css.map */